*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #0084FD;
    min-height: 70px;
    padding: 10px;
}


.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.links-nav{min-width: 60%;
display: flex;}

.links-nav span{
    padding: 3%;
    color:white;
}

.button{
    min-height: 25px;
    margin-left: 20px;
    border-radius: 25px;
    border:none;
    padding-left: 2%;
    padding-right: 2%;
}

.menu{
    display: none;
    color:white;
}

        /* versione Tablet/Smartphone */
@media all and (max-width: 768px) {
    .menu{
        display: inline;
    }

    .links-nav{
        display: none;
    }
    
    .container-header{width: 95%;}

  

    
}


/* developer section */

.row{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.container-developer{
    margin-top: 5%;;
    margin-bottom: 5%;
    
}
.col{
    background-color:#B5DDFF;
    padding: 3%;
    border-radius: 25px;
}

.col.main{
    display: flex;
    justify-content: space-between;
}

.main-left,
.main-right{min-height: 100px;
    width: 47%;
    background-color:#B5DDFF;
    }

img{max-width: 100%;
padding: 5%;
}


.container-developer .col{
    min-height: 250px;
    width: calc(93% / 3);
margin:1%}

.container-developer .col.main{
    min-width:calc(97% - (100% / 3) );
}

.container-developer .col {
    text-align: center;
}

col.main{
    text-align: start;
}

.icon{
    font-size: 50px;
}

.container-developer h2{color:#0084FD}

            /* versione Tablet  */

@media all and (max-width:768px) {
.row{
    width: 95%;
}

}

            /* Versione Smartphone */
@media all and (max-width:480px) {
.col.main{ display: flex;
            flex-wrap: wrap;}

.main-left,
.main-right,
.container-developer .col{
width: 90%;
margin: 0 auto;
}

.row.developer{display: block;}

.container-developer .col{
justify-content: center;
margin-bottom: 5%;
}

}


/* planning section */
.row-planning{
    display: flex;
}



/* debug */
section{
min-height: 200px;
background-color:navajowhite;
border: 1px solid black;
margin-bottom: 20px;
}


.container-developer{
min-height: 70px;
}

.container-planning{
width: 100%;
min-height: 200px;
margin:0 auto;
background-color:#9792E4;
}

.row-planning{
    width: 60%;
    min-height: 150px;
    margin:0 auto;
    background-color:#9792E4;
}

.row-planning .col{
    width: 40%;
    min-height: 150px;
    margin:0 auto;
    border:1px solid white;
}

.col.planning h2{
    margin-top: 25%;
    margin-bottom: 10%;
}

.col.planning{
    background-color:#9792E4;
    color:white
}

.col.development{
    background-color:white;
    margin-top: 15%;
    padding-top: 0;
}

        /* Tablet Version */
@media all and (max-width:768px) {
.row-planning{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.row-planning .col.planning,
.row-planning .col.development{
        width: 100%;
       }
    
}


