*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #0084FD;
    min-height: 70px;
    padding: 10px;
}

.container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-nav{min-width: 60%;}

.links-nav span{
    padding: 3%;
    color:white;
}

.button{
    min-height: 25px;
    margin-left: 20px;
    border-radius: 25px;
    border:none;
    padding-left: 2%;
    padding-right: 2%;
}

.menu{
    display: none;
    color:white;
}

        /* versione Tablet/Smartphone */
@media all and (max-width: 768px) {
    .menu{
        display: inline;
    }

    .links-nav{
        display: none;
    }
    
    .container{width: 95%;}
}


/* developer section */

.container.developer{
    margin-top: 5%;;
    margin-bottom: 5%;
    
}
.col.main{
    display: flex;
    justify-content: space-between;
}

.main-left,
.main-right{min-height: 100px;
    width: 47%;
    background-color:aliceblue;
    border:1px solid black}

img{max-width: 100%;
padding: 5%;
}


.container.developer .col{
    min-height: 250px;
    min-width: calc(93% / 3);
background-color:blueviolet;
border:1px solid black;
margin:1%}

.container.developer .col.main{
    min-width:calc(97% - (100% / 3) );
    
}


/* debug */
section{
    min-height: 200px;
    background-color:navajowhite;
    border: 1px solid black;
    margin-bottom: 20px;
}

.container{
    background-color:aquamarine;
}

.container.developer{
    min-height: 70px;
   
}

