*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #0084FD;
    min-height: 70px;
    padding: 10px;
}


.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.links-nav{min-width: 60%;
display: flex;}

.links-nav span{
    padding: 3%;
    color:white;
}

.button{
    min-height: 25px;
    margin-left: 20px;
    border-radius: 25px;
    border:none;
    padding-left: 2%;
    padding-right: 2%;
}

.menu{
    display: none;
    color:white;
}

        /* versione Tablet/Smartphone */
@media all and (max-width: 768px) {
    .menu{
        display: inline;
    }

    .links-nav{
        display: none;
    }
    
    .container-header{width: 95%;}

  

    
}


/* developer section */

.row{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.container-developer{
    margin-top: 5%;;
    margin-bottom: 5%;
    
}
.col{
    background-color:#B5DDFF;
    padding: 3%;
    border-radius: 25px;
}

.col.main{
    display: flex;
    justify-content: space-between;
}

.main-left,
.main-right{min-height: 100px;
    width: 47%;
    background-color:#B5DDFF;
    }

img{max-width: 100%;
padding: 5%;
}


.container-developer .col{
    min-height: 250px;
    width: calc(93% / 3);
margin:1%}

.container-developer .col.main{
    min-width:calc(97% - (100% / 3) );
}

.container-developer .col {
    text-align: center;
}

col.main{
    text-align: start;
}

.icon{
    font-size: 50px;
    color:#0084FD;
}

.container-developer h2{color:#0084FD}

            /* versione Tablet  */

@media all and (max-width:768px) {
.row{
    width: 95%;
}

}

            /* Versione Smartphone */
@media all and (max-width:480px) {
.col.main{ display: flex;
            flex-wrap: wrap;}

.main-left,
.main-right,
.container-developer .col{
width: 90%;
margin: 0 auto;
}

.row.developer{display: block;}

.container-developer .col{
justify-content: center;
margin-bottom: 5%;
}

}


/* planning section */

.container-planning{
    width: 100%;
    min-height: 200px;
    margin:0 auto;
    background-color:#9792E4;
    }
    
.row-planning{
    display: flex;
    width: 60%;
    min-height: 150px;
    margin:0 auto;
    background-color:#9792E4;
}


.row-planning .col{
    width: 45%;
    min-height: 150px;
    margin:0 auto;
}

.row-planning .col.development{
    width: 40%;
}


.col.planning h2{
    margin-top: 25%;
    margin-bottom: 10%;
}

.col.development h3{
    margin-bottom: 5%;
}

.col.planning{
    background-color:#9792E4;
    color:white
}

.col.development{
    background-color:white;
    margin-top: 15%;
    padding-top: 0;
    text-align: center;
}

        /* Tablet Version */
@media all and (max-width:768px) {
.row-planning{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.row-planning .col.planning,
.row-planning .col.development{
width: 100%;
}
    
}

/* Testimonial section */

.row-testimonial{
    width: 60%;
    margin:0 auto;
    min-height: 200px;
    padding-top: 3%;
    text-align: center;
}

.col.testimonial.white{
    display: block;
}

.col.testimonial{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    margin:0 auto;
    margin-bottom: 4%;
}

.row-testimonial h1,
.row-benefits h1{
    margin-top: 4%;
    color:#9792E4;
    margin-bottom: 4%;
}

h1{
    font-size: 2em;
    
}

.col.testimonial.white{
    background-color:white;
}

.col.testimonial{
    background-color:#9792E4;
}

.img-testimonial{
    width: 25%;
    min-height: 100px;
}

.img-testimonial img{
    
    max-width: 100%;
    border-radius: 50%; }

.text-testimonial{
    width: 70%;
    min-height: 150px;
    color:white;
    padding-top: 5%;
    text-align: start;
}



/* versione tablet */
@media all and (max-width:768px) {
    .col.testimonial.white{
        width: 95%;
    }

    .row-testimonial{
        width: 95%;
    }
}

/* Versione Smartphone */
@media all and (max-width:480px) {

    .col.testimonial{display: flex;
        flex-wrap: wrap;}

.img-testimonial,
.text-testimonial{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    
}

}

.row-benefits{
    display: flex;
    flex-wrap:wrap;
    width: 60%;
    margin: 0 auto;
    min-height: 200px;
    padding-top: 3%;
    margin-bottom: 4%;
    text-align: center;
    background-color:#B5DDFF;
    gap:2%
}


.col.benefits.center{
    width: 100%;
    margin:0 auto;
    min-height: 50px;
    padding-top: 3%;
    text-align: center;
    background-color: bisque;
}

.row-benefits h1{
    color:white;
    margin-bottom: 0%;
}

.col.benefits{
    width: calc(92% / 3);
    margin:0 auto;
    min-height: 300px;
    padding-top: 3%;
    text-align: start;
    background-color: bisque;
    margin-top: 2%;
}

/* tablet version */
@media all and (max-width:768px) {
    .row-benefits{width: 90%;
    margin: 0 auto;}

    .col.benefits{
        width: 48%;
    }
    
}

@media all and (max-width:468px) {
    .col.benefits{
        width: 100%;
    }
}

/* About us section */

.row-aboutus{
    width: 60%;
    min-height: 100px;
    margin: 0 auto;
    background-color:khaki;
    display: flex;
    justify-content: space-between;
}

.col.aboutus{
    min-height: 250px;
    background-color:aquamarine;
}
.col.aboutus.left{
    width: 70%;
}

.col.aboutus.right{
    width: 25%;
}

.col.aboutus.right img{
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0;
    border-radius:50%;
}

/* versione Tablet */

@media all and (max-width:768px) {
    .row-aboutus{
        width: 90%;
    }
}

/* versione smartphone */
@media all and (max-width:480px) {

    .row-aboutus{
      
        display: flex;
        flex-wrap: wrap;
    }
    .col.aboutus.left{
        width: 100%;
    }

    .col.aboutus.right{
        width: 100%;
    }

    .col.aboutus.right img{
        max-width: 70%;
    }

}

/* Call to section */
.row-call-to-section{
    width: 60%;
    min-height: 100px;
    margin: 0 auto;
    background-color:khaki;
    display: flex;
    justify-content: space-between;
}

.col.call-to-section{
    width: 100%;
    margin:0 auto;
    min-height: 250px;
    background-color:aquamarine;
    text-align: center;
}

@media all and (max-width:768px) {
    .row-call-to-section{
        width: 90%;
    }
    
}


/* FOOTER */
footer {
    background-color: #222;
    height: 200px;
    font-size: small;
    padding-top: 30px;
    text-align: center;
    color: white;
}

.container-footer{
    width: 30%;
    margin: 0 auto ;
}









/* debug */
section{
min-height: 200px;
border: 1px solid black;
margin-bottom: 20px;
}


.container-developer{
min-height: 70px;
}


.container-testimonial{
    width: 100%;
min-height: 200px;
margin:0 auto;
background-color:#453db6;
}

section{
    background-color:hotpink;
}










